.loginContainer{
  display: flex;
  width: 80%;
  max-width: 100%;
  height: 80%;
  margin: 5rem; /* Add margin to center the container vertically */
  background-color: #333742; /* Lighter container background */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.loginBox{
    flex: 1;
    padding: 2rem;
    background-color: #3a3d4f;
    margin: 0.5rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

form{
  display: flex;
  flex-direction: column;
}

label{
  margin-bottom: 0.5rem;
}

input{
  margin-bottom: 1rem;
  background-color: #484b5c;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  color: #fff;
}

input::placeholder {
  color: #777;
}

.rememberMe{
  display: flex;
  justify-content: left;
  flex-direction: row;
}

.forgotPassword{
  display: flex;
  justify-content: end;
}

.forgotPassword a{
  color: white;
}

.button{
  background-color: #ffae42;
  color: white;
  font-weight: bolder;
  border-radius: 4px;
}

.signup {
  text-align: center;
  margin-top: 1.5rem;
}

.signup p {
  margin-bottom: 0.5rem;
}

.socialButtons button {
  padding: 0.5rem;
  background-color: #444;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin: 0 0.5rem;
  font-size: 1.2rem;
}
.preview{
  flex: 1;
    padding: 2rem;
    background-color: #3a3d4f;
    margin: 0.5rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imageBox img{
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  object-fit: cover;
}


.passwordInputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.passwordInputContainer input {
  width: 100%;
  padding-right: 30px; /* Space for the eye icon */
}

.eyeIcon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.eyeIcon img{
  margin-bottom: 0.5rem;
  width: 20px;
}

.cnfPassword{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cnfPassword input{
  width: 100%;
  margin: 0; /* Remove all margins */
}
.matched{
  width: 100%;
}
.notmatched:focus{
  border: 2px solid;
  border-color: red;
  width: 100%;
  border: red;
}

.cnfPassword p{
  color: red;
  margin-top: 0.25rem; 
}